body {
  font-family: Arial, sans-serif;
  line-height:2.0;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4
  color; #333;
}
figure {
  margin: 0;
  padding: 0;
  text-align: left;
}
  figure img {
    width: 40%;
    height: auto;
    border-radius: 10px;
  }
